@import "src/common/styles/sass/variables";

.footerBlock {

}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $fontFamily;
  color: gray;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  margin: 15px;
  padding: 10px;
  width: 15px;
  height: 15px;
  background-size: cover;
}

.copyright {
  margin: 15px;
}

