.skillsBlock{
    min-height: 100vh;
    background-color: #aee8c6;
}
.skillsContainer{
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: #727294;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
