@import './../common/styles/sass/mixins';

.skillsBlock {
  padding: 100px 0;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
    @include container();
    .skills {
      margin-top: 60px;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
.devImgBlock{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.skillLogo{
  width: 60px;
}
.description{

}
.item{
  margin: 7px;
}


