@import './../common/styles/sass/mixins';

.skillsBlock {
  padding: 100px 0;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
    @include container();
    .skills {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 60px;
      width: 100%;
    }
  }
}





