.project{
    width: 350px;
    background-color: #d2e2ff;
    display: flex;
    flex-direction: column;
}
.imageProject{
    width: 100%;
    height: 200px;
    background-color: #c4b2af;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonProject{
    text-decoration: none;
    user-select: none;
    background-color: #9ea408;
    padding: 10px 25px;
}
.title{
    background: #727294;
}
.description{
    background: #727294;

}