@import './../common/styles/sass/mixins';

.navigation {
  display: flex;
  flex-direction: row;
  background-color: #e3e3e3;
  padding: 10px 0;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 1;

  .container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      @include text(#777777, 14px, 650, 40px, 0.40px);
      text-decoration: none;
      padding: 0 5px;
      text-transform: uppercase;
      position: relative;
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #fff800, #a82c02);
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .4s;
      }

      &:hover {
        @include text(#a21717, 14px, 650, 40px, 0.40px);

        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .active {
      @include text(#2c0000, 14px, 650, 40px, 0.40px);

      &::after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 564px) {
    .link {
      display: none
    }
  }
}








